@page
@model IndexModel
@{
    ViewData["Title"] = "API Test";
}

<div class="text-center">
    <h1 class="display-4">API test page</h1>
    <p>This view is temporary, and here to make sure the Quizim API subdirectory is up and running.</p>
</div>
